/*全局样式表*/
html,body,#app{
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #EEEEEE;
}

.el-breadcrumb {
    margin-bottom: 20px;
}

.el-pagination {
    margin-top: 20px;
}

.cell {
    display: flex;
    justify-content: space-between;
}

.el-cascader-panel {
    height: 400px;
}
